# Virtual Environment
env/
venv/
itinfra/env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Environment variables
.env
.env.*

# Django
*.sqlite3
media/
staticfiles/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Docker
Dockerfile
.dockerignore

frontend/